@page
@model RegisterModel
@{
    ViewData["Title"] = "Üye Ol";
}


<div class="jumbotron">
    <h4 class="text-center text-primary">Üyelik Formu</h4>
    <hr />
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row my-3">
            <div class="col-md-4">
                Ad
                <input asp-for="Input.Name" class="form-control">
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                Soyad
                <input asp-for="Input.LastName" class="form-control">
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                E-Posta
                <input asp-for="Input.Email" class="form-control">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-4">
                Telefon
                <input asp-for="Input.PhoneNumber" class="form-control">
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                Şifre
                <input asp-for="Input.Password" class="form-control">
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                Şifre Tekrar
                <input asp-for="Input.ConfirmPassword" class="form-control">
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-12">
                Adres
                <input asp-for="Input.Address" class="form-control">
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-4">
                Şehir
                <input asp-for="Input.City" class="form-control">
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                İlçe
                <input asp-for="Input.District" class="form-control">
                <span asp-validation-for="Input.District" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                Posta Kodu
                <input asp-for="Input.PostalCode" class="form-control">
                <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12 my-3">
            <button type="submit" class="btn btn-primary btn-block"><i class="bi bi-person-plus"></i> Üye Ol</button>
        </div>
    </form>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
    }